#game-board {
    display: grid;
    width: 500px;  /* Set a fixed width */
    height: 500px; /* Set a fixed height */
}

/* Individual grid cell */
.cell {
    border: 1px solid #ddd;
    background-color: white;
}

/* Hover effect for testing */
.cell:hover {
    background-color: lightgray;
}

img{
    width: 150px;
    height: 150px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#cookieCount {
    font-size: 24px;
    font-weight: bold;
}
#cookieButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
#cookieImage {
    width: 100px;
    height: 100px;
}

button{
    
}