body {
    font-family: Arial, sans-serif;
    text-align: center;
}

@keyframes makeCookieSmaller {
    from {transform: scale(1);}
    to {transform: scale(0.8);}
  }

@keyframes makeCookieBigger{
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

#cookieCount {
    font-size: 24px;
    font-weight: bold;
}
.CookieButton{
    height: 200px;
    width: 200px;
}

.CookieButton:hover {
    animation-name: makeCookieSmaller;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.CookieButton:not(:hover){
    animation-name: makeCookieBigger;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
